body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('./assets/bg.png'); 
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.login-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px); 
    z-index: -1;
}

.login-content {
    display: flex;
    flex: 1;
    position: relative;
    z-index: 1; 
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(247, 248, 250, 0.9); 
    text-align: center;
    z-index: 1;
}

.left-section img {
    max-width: 100%;
    height: 300px;
    clip-path: polygon(17% 13%, 100% 11%, 100% 77%, 90% 87%, 75% 93%, 31% 93%, 0 93%, 0 32%, 7% 20%);
    object-fit: cover; 
    border-radius: 8px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.left-section img.active {
    opacity: 1;
}

.left-section h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.left-section p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.indicator-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 50px;
    height: 12px;
    border-radius: 6px;
    background-color: #ccc;
    cursor: pointer;
}

.dot.active {
    background-color: #6a1b9a;
}

.right-section {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9); 
    z-index: 1;
}

.login-box {
    width: 400px;
    padding: 30px;
    border: 2px solid rgba(91, 215, 245, 1);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
}

.login-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-box p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box input {
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: #969496;
}

.forgot-password a:hover {
    text-decoration: none;
    color: #6a1b9a;
}

.login-button {
    width: 50%;
    padding: 10px;
    background-color: rgba(69, 210, 245, 1);
    transform: translateX(50%);
    font-weight: 1000;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.terms {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(217, 217, 217, 1);
    font-size: 12px;
    color: rgba(3, 84, 104, 1);
    position: relative;
    z-index: 1;
}
